 /* >>>>> custom components <<<<< */
@include respond($screen-sm) {
	
	#mCSB_1 {
		max-width: initial;
		width: 100%;
	}
}

@include respond($screen-xs) {

	.index {

		.owl-nav {
			position: absolute;
			top: initial;
			right: 0;
			bottom: 0;
		}
	}
}