/* >>>>> buttons <<<<< */

.button {
	position: relative;
	outline: none;
	box-shadow: none;
	text-decoration: none;
	line-height: 1;
	display: block;
	z-index: 1;
	box-sizing: border-box;

	&:hover {
		text-decoration: none;
	}


	&--red {
		font-size: 14px;
		font-weight: 300;
		color: #fff;
		padding: 20px;
		background-color: $color-red;


		&:before {
			background-color: $color-red-deep;
		}
	}

	&--square {

		&:before {
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
			height: 100%;
			content: '';
			display: block;
			transition: width 0.2s;
			transition-timing-function: ease-out;
			z-index: -1;

		}

		&:hover {


			&:before {
				width: 100%;
			}
		}
	}

	&--prev,
	&--next {
		height: 60px;
		width: 60px;
		background-color: #fff;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		&:before {
			display: block;
			content: '';
			position: static;
			background-size: cover;
			background-repeat: no-repeat;
			height: 20px;
			width: 20px;
		}
	}

	&--prev {
		
		&:before {
			background-image: url(../images/button--prev.svg);
			background-position: top center;
		}

		&:hover {

			&:before {
				animation-name: arrow-left;
				animation-duration: 0.8s;
				animation-iteration-count: infinite;
			}
		}
	}

	&--next {

		&:before {
			background-image: url(../images/button--next.svg);
			background-position: top center;
		}

		&:hover {

			&:before {
				animation-name: arrow-right;
				animation-duration: 0.8s;
				animation-iteration-count: infinite;
			}
		}
	}
}