/* >>>>> links <<<<< */

.link {
	display: inline-block;
	outline: none;
	text-decoration: none;
	transition: color 0.4s;
	position: relative;

	&--black {
		color: #000;

		&:hover {
			color: $color-red;
		}
	}

	&--red {
		color: $color-red;

		&:hover {
			color: $color-red-deep;
		}
	}

	&--sign {
		font-size: 14px;
		font-weight: 700;
		padding-left: 27px;

		&:before {
			display: block;
			position: absolute;
			content: '';
			background-size: cover;
			width: 17px;
			height: 13px;
			top: 0;
			left: 0;
		}
	}

	&--sign-in {

		&:before {
			background-image: url(../images/signin-sprite.png);
			background-position: top center;
		}

		&:hover {

			&:before {
				background-position: bottom center;
			}
		}
	}


	&--more {

		&:after {
			display: block;
			content: '\2192';
			position: absolute;
			top: 0px;
			right: -20px;
			
		}
	}
}