/* >>>>> ASIDE<<<<< */

@include respond($screen-sm) {

	.aside {
		transform: translateX(-100%);
		transition: transform 0.6s;
		width: 100vw;
		height: 100vh;
		z-index: 9;
		background-color: #fff;
		padding: 0;



		&.is-active {
			transform: translateX(0%);
		}
	}

	.aside__inner {
		align-items: center;
	}
}