/* >>>>> BUTTONS <<<<< */
@include respond($screen-md) {
	
	.button {

		&--prev {

			&:hover {

				&:before {
					animation-iteration-count: 1;
				}
			}
		}

		&--next {

			&:hover {

				&:before {
					animation-iteration-count: 1;
				}
			}
		}
	}
}