/* >>>>> FOOTER <<<<< */

@include respond($screen-sm) {
	.footer {
		padding-left: 5px;
		padding-right: 5px;


		.link--sign-in {
			font-size: 21px;

			&:before {
				width: 21px;
				height: 16px;
				top: 4px;
			}
		}
	}

	.footer__sign {
		text-align: center;
	}
	
	.footer__description {
		font-size: 18px;
		min-width: 150px;
	}
}

@include respond-h(667px) {
	
	.footer {
		padding-bottom: 80px;
	}
}