/* >>>>> HEADER <<<<<< */
@include respond($screen-md) {
	.header__menu {
		margin-top: 40px;
	}
}

@include respond($screen-sm) {

	.header {

		.button--red {
			font-size: 18px;
		}
	}
	
	/* hack */
	.header__button {
		min-width: 172px;
		text-align: center;
	}
	
	/* hack end*/
	.header__menu {
		text-align: center;
	}

	.header__menu-link {
		font-size: 21px;
	}
}