/* >>>>> MOUSE PARALLAX <<<<< */

@include respond($screen-md) {

	.mousePlx__content {
		top: 22%;
		left: 10%;
	}

	.mousePlx__big-circle {
		width: 400px;
		height: 400px;
		top: 15%;
	}

	.mousePlx__mdl-circle {
		width: 200px;
		height: 200px;
		left: 22%;
		bottom: 30%;
	}

	.mousePlx__sml-circle {
		width: 150px;
		height: 150px;
		bottom: 20%;
	}
	
	.mousePlx__pic {
		width: 380px;
		height: 380px;
		bottom: 25%;
		left: 22%;
	}

	.mousePlx__title {
		font-size: 31px;
	}
}


@include respond($screen-sm) {
	
	.mousePlx {
		width: 100%;
		left: 0;
		min-height: initial;
		height: auto;
	}
}

@include respond($screen-xs) {

	.mousePlx__content {
		top: 10%;

		h2 {
			font-size: 41px;
		}

		.link--more {
			font-size: 18px;
		}
	}

	.mousePlx__section {
		font-size: 21px;
	}

	.mousePlx__sml-circle {
		display: none;
	}

	.mousePlx__mdl-circle {
		display: none;
	}
	
	.mousePlx__big-circle {
		left: 50%;
   		margin-left: -200px;
   		top: 30%;
	}
	.mousePlx__pic {
		left: 0%;
		bottom: 0%;
		background-position: left center;
	}

	.layer {
		height: 100%;
	}
}

@include respond-h(640px) {

	.mousePlx__big-circle {
		height: 320px;
		width: 320px;
		margin-left: -160px;
	}

	.mousePlx__pic {
		width: 300px;
		height: 300px;
		left: initial;
		right: 0%;
		background-position: right center;
	}
}

@include respond-h(480px) {


	.mousePlx__content {
		top: 20%;
	}

	.mousePlx__brand {
		margin-bottom: 30px;
	}
}

@include respond-h(360px) {

	.mousePlx__big-circle {
		top: 5%;
		bottom: initial;
	}
}