/* >>>>>PARALLAX<<<<< */

@include respond($screen-lg) {
	
	.parallax h1 {
		font-size: 60px;
	}
}

@include respond($screen-md) {
	.parallax {
		left: 276px;
	}
}

@include respond($screen-sm) {
	
	.parallax {
		left: 0;
		width: 100%;
	}

	.parallax__layer--2 {
		z-index: 4;
	}
}