/* >>>>> BASKET <<<<< */

@include respond($screen-sm) {

	.basket {
		padding-top: 200px;
		padding-right: 0;
	}
}

@include respond($screen-xs) {
	.b-item {

		.counter {
			margin-left: 0;
		}
	}

	.basket__callback {
		position: relative;
		margin: 0 auto;
		margin-bottom: 60px;	
	}

	.b-item__description {
		display: block;
	}

}