/* >>>>> b-item <<<<< */

.b-item {
	position: relative;
	text-decoration: none;
	height: 180px;
	width: 340px;
	background-color: transparent;
	color: #000;
	z-index: 2;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 45px;
	margin-right: 50px;

	&:hover,
	&:focus,
	&:active {
		color: #000;
		text-decoration: none;
	}

	&:hover {

		&:after {
			width: 120%;
			height: 140%;
			left: -10%;
			top: -20%;
			opacity: 1;
			-webkit-box-shadow: -26px 0px 136px -24px rgba(0,0,0,0.25);
			-moz-box-shadow: -26px 0px 136px -24px rgba(0,0,0,0.25);
			box-shadow: -26px 0px 136px -24px rgba(0,0,0,0.25);
		}

		.b-item__description {
			color: $color-red;
		}

		.b-item__count {
			opacity: 0;
		}

		.counter {
			opacity: 1;
			z-index: 5;
		}
	}

	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		background-color: #fff;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: all 0.4s;

	}

	.counter {
		margin-top: -20px;
		opacity: 0;
		transition: opacity 0.6s;
	}
}

.b-item__description {
	color: #000;
	transition: color 0.4s;
}

.b-item__image {
	width: 115px;
	height: 115px;
	background-size: contain;
	background-repeat: repeat;
	background-position: center;
	border-radius: 50%;
	margin-right: 25px;
}

.b-item__data {
	font-weight: 500;
	font-size: 14px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.b-item__name {
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: 100;
}

.b-item__code {
	font-size: 24px;
	font-weight: 100;
	margin-bottom: 20px;
}

.b-item__count {
	opacity: 1;
	transition: opacity 0.4s;
	font-size: 16px;
	font-weight: 700;
}