/* >>>>> counter <<<<< */
.counter {
	width: 160px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all 0.4s;

	&--gray {

		.counter__input {
			background-color: $color-gray-light;

		}

		.counter__result {

			label {

				&:after {

					background-color: $color-gray-light;
				}		
			}
		}

	}
}

.counter__input {
	position: relative;
	width: 90px;
	padding: 15px 20px;
	box-sizing: border-box;
	line-height: 1;
	text-align: left;
	border: none;
	outline: none;
	background-color: #fff;
	font-size: 14px;
	font-weight: 100;
	padding-right: 35px;
}

.counter__result {
	position: relative;

	label {
		position: absolute;
		top: 0;
		right: 5px;
		height: 100%;
		display: block;
		width: 35px;
		z-index: 5;
		color: #000;

		&:after {
			content: 'кор.';
			position: absolute;
			text-align: left;
			top: 0;
			left: 0;
			padding-top: 16px;
			padding-bottom: 14px;
			font-size: 14px;
			font-weight: 100;
			background-color: #fff;
		}		
	}

}

.counter__minus,
.counter__plus {
	width: 35px;
	text-align: center;
	color: $color-red;
	font-size: 24px;
}

