aside.aside
	div.aside__inner

		a(href="index.html").aside__logo
			img(src="assets/images/main-logo.png", alt="")

		header.header

			a(href="vk.com").button.button--square.button--red.header__button Каталог обоев

			nav.header__menu
				ul.header__menu-list
					li.header__menu-item
						a(href="#").header__menu-link.link.link--black Фотопанно

					li.header__menu-item
						a(href="#").header__menu-link.link.link--black О компании

					li.header__menu-item
						a(href="#").header__menu-link.link.link--black Новости

					li.header__menu-item
						a(href="#").header__menu-link.link.link--black Вакансии

					li.header__menu-item
						a(href="#").header__menu-link.link.link--black Контакты

		footer.footer
			div.footer__sign
				a(href="#").link.link--red.link--sign.link--sign-in Войти
			div.footer__description
				span &#169; &nbsp;
				a(href="index.html") k-ovk.ru
				span , 2016