div.fly
	a(href="#").fly-closer
		span.fly-closer__icon
	div.fly__nav
		div.fly__count 32 товара
		a(href="#").fly__to-basket.link.link--red Перейти в корзину
		a(href="#").fly__order.button.button--red.button--square Заказать
	
	div.fly__content
		a(href="#").fly__item
			div.fly__item-image
				img(src="assets/images/fly__item-image.png")
			div.fly__item-name Длинное наименование в две и более строк
			include counter.jade

			div.fly__item-code Z7544
			div.fly__item-remove

		a(href="#").fly__item
			div.fly__item-image
				img(src="assets/images/fly__item-image.png")
			div.fly__item-name Длинное наименование в две и более строк
			include counter.jade

			div.fly__item-code Z7544
			div.fly__item-remove

		a(href="#").fly__item
			div.fly__item-image
				img(src="assets/images/fly__item-image.png")
			div.fly__item-name Длинное наименование в две и более строк
			include counter.jade

			div.fly__item-code Z7544
			div.fly__item-remove

		a(href="#").fly__item
			div.fly__item-image
				img(src="assets/images/fly__item-image.png")
			div.fly__item-name Длинное наименование в две и более строк
			include counter.jade

			div.fly__item-code Z7544
			div.fly__item-remove

		a(href="#").fly__item
			div.fly__item-image
				img(src="assets/images/fly__item-image.png")
			div.fly__item-name Длинное наименование в две и более строк
			include counter.jade

			div.fly__item-code Z7544
			div.fly__item-remove

		a(href="#").fly__item
			div.fly__item-image
				img(src="assets/images/fly__item-image.png")
			div.fly__item-name Длинное наименование в две и более строк
			include counter.jade

			div.fly__item-code Z7544
			div.fly__item-remove

		a(href="#").fly__item
			div.fly__item-image
				img(src="assets/images/fly__item-image.png")
			div.fly__item-name Длинное наименование в две и более строк
			include counter.jade

			div.fly__item-code Z7544
			div.fly__item-remove

		a(href="#").fly__item
			div.fly__item-image
				img(src="assets/images/fly__item-image.png")
			div.fly__item-name Длинное наименование в две и более строк
			include counter.jade

			div.fly__item-code Z7544
			div.fly__item-remove

		a(href="#").fly__item
			div.fly__item-image
				img(src="assets/images/fly__item-image.png")
			div.fly__item-name Длинное наименование в две и более строк
			include counter.jade

			div.fly__item-code Z7544
			div.fly__item-remove

		a(href="#").fly__item
			div.fly__item-image
				img(src="assets/images/fly__item-image.png")
			div.fly__item-name Длинное наименование в две и более строк
			include counter.jade

			div.fly__item-code Z7544
			div.fly__item-remove

		a(href="#").fly__item
			div.fly__item-image
				img(src="assets/images/fly__item-image.png")
			div.fly__item-name Длинное наименование в две и более строк
			include counter.jade

			div.fly__item-code Z7544
			div.fly__item-remove

		a(href="#").fly__item
			div.fly__item-image
				img(src="assets/images/fly__item-image.png")
			div.fly__item-name Длинное наименование в две и более строк
			include counter.jade

			div.fly__item-code Z7544
			div.fly__item-remove

		a(href="#").fly__item
			div.fly__item-image
				img(src="assets/images/fly__item-image.png")
			div.fly__item-name Длинное наименование в две и более строк
			include counter.jade

			div.fly__item-code Z7544
			div.fly__item-remove

		a(href="#").fly__item
			div.fly__item-image
				img(src="assets/images/fly__item-image.png")
			div.fly__item-name Длинное наименование в две и более строк
			include counter.jade

			div.fly__item-code Z7544
			div.fly__item-remove