div.parallax
	div.parallax__layer.parallax__layer--1
	div.parallax__layer.parallax__layer--2
		h1 h1 here
	div.parallax__layer.parallax__layer--3
		img(src="assets/images/background__triangle.svg", alt="")