extends layout.jade

block title
	title index page
block components
	include blocks/default.jade

	div.parallax
		div.parallax__layer.parallax__layer--1
		div.parallax__layer.parallax__layer--2
			h1.index__header h1 here
		div.parallax__layer.parallax__layer--3
			img(src="assets/images/background__triangle.svg", alt="")

block content
	div.index
		div#scene.mousePlx
			div.owl
				div.owl-slide
					div(data-depth="0.50").layer.layer--level-4
						div.mousePlx__content

							p.mousePlx__section Коллекция обоев

							h2.mousePlx__title Renaissance

							div.mousePlx__brand
								//img size = 150x40px
								img(src="assets/images/index__brand.jpg", alt="")

							a(href="#").link.link--red.link--more Подробнее


					div(data-depth="0.20").layer.layer--level-1
						// bg-img size = 550x550px 

						div(style="background-image: url(assets/images/index__big-circ.jpg)").mousePlx__big-circle

					div(data-depth="0.35").layer.layer--level-1
						// bg-img size = 220x220px

						div(style="background-image: url(assets/images/index__sml-circ.jpg)").mousePlx__sml-circle


					div(data-depth="0.70").layer.layer--level-3
						// bg-img size = 270x270px

						div(style="background-image: url(assets/images/index__mdl-circ.jpg)").mousePlx__mdl-circle

					div(data-depth="0.50").layer.layer--level-2
						// max bg-img size = 520x520px
						div(style="background-image: url(assets/images/index__pic.png)").mousePlx__pic



				div.owl-slide
					div(data-depth="0.50").layer.layer--level-4
						div.mousePlx__content

							p.mousePlx__section Коллекция обоев

							h2.mousePlx__title Renaissance

							div.mousePlx__brand
								//img size = 150x40px
								img(src="assets/images/index__brand.jpg", alt="")

							a(href="#").link.link--red.link--more Подробнее


					div(data-depth="0.20").layer.layer--level-1
						// bg-img size = 550x550px 

						div(style="background-image: url(assets/images/550.jpg)").mousePlx__big-circle

					div(data-depth="0.35").layer.layer--level-1
						// bg-img size = 220x220px

						div(style="background-image: url(assets/images/220.jpg)").mousePlx__sml-circle


					div(data-depth="0.70").layer.layer--level-3
						// bg-img size = 270x270px

						div(style="background-image: url(assets/images/270.jpg)").mousePlx__mdl-circle

					div(data-depth="0.50").layer.layer--level-2
						//
						div(style="background-image: url(assets/images/520.png)").mousePlx__pic






