extends layout.jade

block title
	title basket

block components
	include blocks/hamburger.jade
	include blocks/aside.jade

	div.parallax
		div.parallax__layer.parallax__layer--1
		div.parallax__layer.parallax__layer--2
			h1 Корзина
		div.parallax__layer.parallax__layer--3
			img(src="assets/images/background__triangle.svg", alt="")
			div.parallax__backface

block content
	div.basket
		div.basket__inner
			a(href="#").basket__callback.button.button--red.button--square Оформить заказ
			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;


			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;


			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;


			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;

			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;


			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;

			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;
			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;


			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;


			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;


			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;

			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;


			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;

			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;
			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;


			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;


			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;


			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;

			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;


			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;

			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;


			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;


			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;


			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;


			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;

			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;


			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;

			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;
			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;


			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;


			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;


			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;

			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;


			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;

			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;
			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;


			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;


			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;


			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;

			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;


			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;

			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;

			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;


			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;


			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;


			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;

			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;


			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;

			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;
			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;


			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;


			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;


			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;

			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;


			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;

			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;
			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;


			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;


			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;


			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;

			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;


			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;

			a(href="#").b-item
				//115x115px

				div.b-item__image(style="background-image: url(assets/images/b-item__image.jpg)")

				div.b-item__description
					div
						div.b-item__data Renaissance, Италия
						div.b-item__name Aura Baker Street
						div.b-item__code Z7544
						div.b-item__count 6666 уп

					div.counter.counter--gray
						span.counter__minus &#8212;
						div.counter__result
							label(for="count")
							input(type="number" value="25" id="count").counter__input
						span.counter__plus &#43;