doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible",content="IE=edge")
		meta(name="viewport",content="width=device-width, initial-scale=1")

		block title
			title default title
			
		link(rel="stylesheet", href="assets/css/lib/owl.css")
		link(rel="stylesheet", href="assets/css/lib/hamburgers.css")
		link(rel="stylesheet", href="assets/css/lib/scrollbar.css")
		link(rel="stylesheet", href="assets/css/main.css")
		link(rel="stylesheet", href="assets/css/media.css")




	body
		section.page
			div.components
				block components
				
			div.content
				block content
		script(src="assets/js/lib/jquery-3.1.1.min.js")
		script(src="assets/js/lib/owl.carousel.js")
		script(src="assets/js/lib/parallax.js")
		script(src="assets/js/lib/jquery.mCustomScrollbar.concat.min.js")
		script(src="assets/js/main.js")




