/* >>>>> basket <<<<< */

.basket {
	padding-top: 380px;
	padding-right: 115px;
}

.basket__inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.basket__callback {
	z-index: 5;
	position: fixed;
	right: 0;
	top: 40%;
	font-size: 16px;
	font-weight: 500;
}