/* >>>>> animations <<<<< */
@-webkit-keyframes arrow-right {
  0%   { transform: translateX(0) }
  100% { opacity: 1; }
}

@-moz-keyframes arrow-right  {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes arrow-right  {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes arrow-right  {
  0%   { transform: translateX(0) }
  50%  { transform: translateX(50%) }
  100% { transform: translateX(0) }
}


@-webkit-keyframes arrow-left {
  0%   { transform: translateX(0) }
  100% { opacity: 1; }
}

@-moz-keyframes arrow-left  {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes arrow-left  {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes arrow-left  {
  0%   { transform: translateX(0) }
  50%  { transform: translateX(-50%) }
  100% { transform: translateX(0) }
}