/******** DEFAULT SITE SETTINGS ********/
body {
	font-family: 'Museo', sans-serif;
	font-weight: 300;
	width: 100%;
}

.page {
	position: relative;
}

.content {
	padding-left: 275px;
	padding-right: 25px;
	position: relative;
	z-index: 7;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}