/** MuseoSansCyrl_100 **/
@font-face {
	font-family: 'Museo';
	src: url('../fonts/museo/museo100/MuseoSansCyrl_100.eot');
	src: local('☺'), url('../fonts/museo/museo100/MuseoSansCyrl_100.woff') format('woff'), url('../fonts/museo/museo100/MuseoSansCyrl_100.ttf') format('truetype'), url('../fonts/museo/museo100/MuseoSansCyrl_100.svg') format('svg');
	font-weight: 100;
	font-style: normal;
}

/** MuseoSansCyrl_300 **/
@font-face {
	font-family: 'Museo';
	src: url('../fonts/museo/museo300/MuseoSansCyrl_300.eot');
	src: local('☺'), url('../fonts/museo/museo300/MuseoSansCyrl_300.woff') format('woff'), url('../fonts/museo/museo300/MuseoSansCyrl_300.ttf') format('truetype'), url('../fonts/museo/museo300/MuseoSansCyrl_300.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}


/** MuseoSansCyrl_500 **/
@font-face {
	font-family: 'Museo';
	src: url('../fonts/museo/museo500/MuseoSansCyrl_500.eot');
	src: local('☺'), url('../fonts/museo/museo500/MuseoSansCyrl_500.woff') format('woff'), url('../fonts/museo/museo500/MuseoSansCyrl_500.ttf') format('truetype'), url('../fonts/museo/museo500/MuseoSansCyrl_500.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

/** MuseoSansCyrl_700 **/
@font-face {
	font-family: 'Museo';
	src: url('../fonts/museo/museo700/MuseoSansCyrl_700.eot');
	src: local('☺'), url('../fonts/museo/museo700/MuseoSansCyrl_700.woff') format('woff'), url('../fonts/museo/museo700/MuseoSansCyrl_700.ttf') format('truetype'), url('../fonts/museo/museo700/MuseoSansCyrl_700.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}


/** MuseoSansCyrl_900 **/
@font-face {
	font-family: 'Museo';
	src: url('../fonts/museo/museo900/MuseoSansCyrl_900.eot');
	src: local('☺'), url('../fonts/museo/museo900/MuseoSansCyrl_900.woff') format('woff'), url('../fonts/museo/museo900/MuseoSansCyrl_900.ttf') format('truetype'), url('../fonts/museo/museo900/MuseoSansCyrl_900.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}


