/* >>>>> B-ITEM <<<<< */

@include respond($screen-md-min) {

	.b-item {
		width: 100%;
		margin-right: 0;
		
		&:hover {

			&:after {
				display: none;
			}

			.b-item__description {
				color: #000;
			}
		}

		.counter {
			opacity: 1;
			margin-top: 10px;
			margin-left: 40px;
		}
	}

	.b-item__description {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: flex-start;
	}

	.b-item__count {
		display: none;
	}
}