/* >>>>>aside<<<<< */
.aside {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	z-index: 20;
	justify-content: center;
	position: fixed;
	width: 275px;
	left: 0;
	top: 0;
	bottom: 0;
	box-sizing: border-box;
	overflow: auto;
}

.aside__inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	margin-right: 20px;
}


.aside__logo {
	margin-top: 40px;
	margin-bottom: 40px;
}