/* >>>>> fly and fly-opener<<<<< */

.fly-opener {
	height: 75px;
	width: 75px;
	z-index: 8;
	position: fixed;
	right: 0;
	top: 0;
	background-color: $color-red;
	box-sizing: border-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	flex-direction: column;
	transition: background-color 0.4s, box-shadow 0.4s;

	&:hover {
		background-color: #ff3838;
		-webkit-box-shadow: 0px 17px 77px -11px rgba(184,0,0,0.27);
		-moz-box-shadow: 0px 17px 77px -11px rgba(184,0,0,0.27);
		box-shadow: 0px 17px 77px -11px rgba(184,0,0,0.27);
	}
}


.fly-closer {
	height: 75px;
	width: 75px;
	z-index: 8;
	position: absolute;
	left: -75px;
	top: 0;
	background-color: $color-red;
	box-sizing: border-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	text-decoration: none;
	font-size: 14px;


	&:hover {

		.fly-closer__icon {
			animation-name: arrow-right;
			animation-duration: 0.8s;
			animation-iteration-count: infinite;
		}
	}
}

.fly-closer__icon {
	width: 20px;
	height: 20px;
	background-image: url(../images/fly-closer.svg);
	background-size: cover;
	background-position: center;
}

.fly-opener__count {
	margin-bottom: 10px;
}

.fly {
	width: 760px;
	box-sizing: border-box;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 20px;
	background-color: #fff;
	// overflow-x: auto;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 9;
	transform: translateX( calc(100% + 75px) );
	transition: transform 0.6s, box-shadow 0.6s;


	&.is-shown {
		transform: translateX(0);
		-webkit-box-shadow: -26px 0px 136px -24px rgba(0,0,0,0.25);
		-moz-box-shadow: -26px 0px 136px -24px rgba(0,0,0,0.25);
		box-shadow: -26px 0px 136px -24px rgba(0,0,0,0.25);
	}
}

.fly__nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding-left: 130px;
	justify-content: flex-start;
	align-items: center;
}

.fly__to-basket {
	margin-left: auto;
	margin-right: 40px;
	font-weight: 100;
}

.fly__count {
	font-size: 20px;
	font-weight: 500;
}

.fly__content {
	margin-top: 80px;
	height: calc(100% - 140px);
}

.fly__item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	padding-bottom: 15px;
	padding-top: 15px;
	text-decoration: none;
	font-size: 18px;
	padding-left: 20px;
	color: #000;
	transition: background-color 0.4s;

	&:hover {
		background-color: $color-gray-light;

		.counter {
			opacity: 1;
		}

	}

	.counter {
		opacity: 0;
	}
}

.fly__item-image {
	border-radius: 50%;
	overflow: hidden;
	width: 70px;
	height: 70px;
}

.fly__item-name {
	width: 220px;
	font-weight: 100;
}

.fly__item-code {
	text-transform: uppercase;
}

.fly__item-remove {
	position: relative;
	width: 16px;
	height: 16px;
	margin-right: 40px;
	overflow: hidden;

	&:before,
	&:after {
		position: absolute;
		display: block;
		content: '';
		top: 5px;
		left: 0;
		width: 10px;
		height: 1px;
		background-color: $color-red;
		transition: transform 0.4s;
	}

	&:before {
		transform: rotate(45deg);
	}

	&:after {
		transform: rotate(-45deg);
	}

	&:hover {

		&:before {
			transform: rotate(-45deg);
		}

		&:after {
			transform: rotate(45deg);
		}
	}
}