/* >>>>>footer<<<<< */
.footer {
	padding-bottom: 40px;
	font-size: 12px;
	color: #000;
}


.footer__description {

	a {
		text-decoration: none;
		color: #000;

		&:hover {
			text-decoration: underline;
		}
	}
	
	span {
		font-weight: 100;
	}
}



.footer__sign {
	margin-bottom: 20px;
}