/* >>>>>header<<<<< */
.header {
	
}

.header__menu {
	margin-top: 60px;
	margin-bottom: 60px;
}

.header__menu-list {
	list-style-type: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.header__menu-item {
	margin-bottom: 35px;

	&:last-child {
		margin-bottom: 0;
	}
}

.header__menu-link {
	line-height: 1;
	text-decoration: none;
	font-weight: 700;
	font-size: 14px;
}