/* >>>>> mouse parallax <<<<< */

.mousePlx {
	overflow: hidden;
	z-index: 500;
	z-index: 5;
	min-height: 100vh;
	width: 100%;
	z-index: 3;

	> li {
		position: absolute;
		height: 100%;
		width: 100%;
	}
}

.mousePlx__big-circle {
	position: absolute;
	width: 550px;
	height: 550px;
	background-position: center;
	background-size: contain;
	background-repeat: repeat;
	border-radius: 50%;
	top: 5%;
	right: 10%;
}

.mousePlx__mdl-circle {
	width: 270px;
	height: 270px;
	border-radius: 50%;
	position: absolute;
	background-size: contain;
	background-repeat: repeat;
	bottom: 20%;
	left: 28%;
}

.mousePlx__sml-circle {
	width: 220px;
	height: 220px;
	background-position: center;
	background-size: contain;
	background-repeat: repeat;
	border-radius: 50%;
	position: absolute;
	bottom: 5%;
	right: 20%;
}


.mousePlx__pic {
	width: 520px;
	height: 520px;
	position: absolute;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	left: 30%;
	bottom: 15%;
}


.mousePlx__content {
	width: 550px;
	position: absolute;
	top: 40%;
	left: 5%;
}

.mousePlx__section {
	color: $color-gray;
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 10px;
}

.mousePlx__title {
	font-size: 51px;
	color: #000;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 15px;
}

.mousePlx__brand {
	height: 40px;
	width: 150px;
	margin-bottom: 50px;
}

.layer {
	max-width: 1300px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 900px;
	width: 100%;
}

.layer--level-4 {
	z-index: 4;
}

.layer--level-1 {
	z-index: 1;
}

.layer--level-2 {
	z-index: 2;
}

.layer--level-3 {
	z-index: 3;
}