/* >>>>>parallax<<<<< */
.parallax {
	overflow: hidden;
	height: 100vh;
	position: fixed;
	left: 275px;
	top: 0;
	width: calc(100% - 275px);
	z-index: 1;
}

.parallax h1 {
	font-size: 90px;
	font-weight: 500;
	text-align: center;
	margin-top: 0;
	max-width: 550px;
	margin: 0 auto;
	line-height: 1;
}

.parallax__layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	&--1 {
		z-index: 1;
		height: 300vh;
		width: 100%;
		background-image: url(../images/background__pattern.jpg);
		background-repeat: repeat;
	}

	&--2 {
		z-index: 2;
		padding-top: 70px;
	}

	&--3 {
		z-index: 3;
		height: 100000px;
		width: 100%;
		overflow: hidden;

		img {
			width: 100%;
		}
	}
}

.parallax__backface {
	position: relative;
	z-index: 20;
	width: 100%;
	margin-top: -4px;
	height: 100000px;
	background-color: #fff;
}
